:root {
    --text-color: #1a1c20;
    --link-color: #dda1e6;
    --background-color: #eeeff1;
    font-size: 17px; /* Set the base font size */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem; /* Adjust this value based on the height of your nav bar */
}
/*header {
    background: #857bcc;
    position: sticky;
            top: 0;
             color: white;
            padding: 15px 20px;
            text-align: start;
            z-index: 1000;
            width: 100%;
            backdrop-filter: blur(5px);
}*/
nav {
    background-color: #857bcc;
    display: flex;
    justify-content: space-between;
    padding: 0 3.125rem;
    padding: 15px 20px;
    height: 5rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

nav .left a {
    
    font-size: 1.5rem;
    font-weight: 600;
}

nav .right a {
    
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.625rem;
}

nav .right a:hover {
    color: var(--link-color);
    transition: color 0.3s ease-in-out;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

div.left{
    text-align: start;

}

div.right{
    text-align: end;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    padding: 6px;
    
}
nav ul li a:hover {
    color: #ffcc00;
}
section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(233, 218, 218);
    text-align: center;
}
section.h1{
font-size: 2.5 rem;
}

.image-container {
    overflow: hidden;
    display: inline-block;
    border-radius: 10px; /* Optional: Adds rounded corners */
}

.image-container img {
    transition: transform 0.3s ease-out;
    width: 100%;
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 70%;
    object-fit: cover;
}

.image-container:hover img {
    transform: scale(1.5); /* 1.2 means 20% zoom */
}
section h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1rem;
    letter-spacing: 1px;
    position: relative;
}

section h2::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #bfd6c4;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

/* About Section */
#about-section {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}
#about-section .bio {
    margin-bottom: 2rem;
    padding: 0 2 rem;
    max-width: 50%;
}

#about-section .bio p {
    font-size: 1.25rem;
    font-weight: 300;
}

#about-section .social-links {
    font-size: 2.45rem;
}

#about-section .social-links a {
    padding: 0;
    margin: 0 0.75rem;
}

#about-section .social-links a i {
    transition: transform 0.2s, color 0.3s;
}

#about-section .social-links a:hover i {
    color: #a5d6b0;
    transform: scale(1.2);
}

#about-section .social-links i {
    color: #857bcc;
    font-weight: 500;
}

footer {
    background: #857bcc;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}